<div id="contacthead">お問い合わせありがとうございました</div>
<div id="contacthead">以下の内容で承りました</div>
<div id="contacttitle">お名前:<%= @contact.name %></div>
<div id="contacttitle">メールアドレス:<%= @contact.email %></div>
<div id="contacttitle">お問い合わせ内容:<%= @contact.content %></div>